@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-image: linear-gradient(to bottom right, pink, rgb(0, 255, 191));
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}